{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}


{% block scripts %} 
{{ super() }} 
{% endblock %}

{% block page_content %} 
<div class="container"> 
    <div class="page-header"> 
        <h1>代码查询</h1> 
    </div> 

    {{ wtf.quick_form(form) }} <br/>

    {% if items: %}
        <table class="table table-condensed table-responsive">
        <tr><th>代码</th><th>名称</th><th>规格</th></tr>
        {% for item in items: %}
        <tr><td><a href="/detail?id={{ item.id }}">{{ item.code }}</a></td><td>{{ item.name }}</td><td>{{ item.spec }}</td></tr>
        {% endfor %}
        </table>
    {% endif %}
</div> 
{% endblock %}
